.myQuote{
    padding: 15px;
  }
  
  .container-fluid{
    /* padding: 1px; */
    text-align: center;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
  }

  #i {
    background-color: lightgray;
  }
  
  /* .line
  {
    height: 5px;
  } */
  